In [1]:
import os
import pandas as po
from tqdm import tqdm_notebook

In [2]:
base_path = '../data/processed/2017/'

In [112]:
files = os.listdir(base_path)
files.sort()
if '.DS_Store' in files:
    files.remove('.DS_Store')

In [113]:
len(files)

350

In [114]:
h = []
for i in range(24):
    h += [i]*12

In [101]:
m = list(range(0, 60, 5))*24

In [109]:
df_c = po.DataFrame()
df_c['h'] = h
df_c['m_b'] = m
#df_c = df_c.sort_values('h').reset_index(drop=True)

po.merge(df_t, df_c)

In [115]:
for f in tqdm_notebook(files):
    df_t = po.read_csv(base_path+f).drop('Unnamed: 0', axis = 1)
    #df_t['m_b'] = po.cut(df_t['m'], bins = range(0, 61, 5), labels = range(0, 60, 5))
    #df_t['h_b'] = po.cut(df_t['h'], bins = range(25), labels = range(24))
    df_t = df_t.sort_values(by = ['h', 'm']).reset_index(drop=True)
    df_t['m_b'] = po.cut(df_t['m'], bins = range(0, 61, 5), labels = range(0, 60, 5))
    #df_t = df_t.dropna(axis = 0)
    df
    print(df_t.head(10))
    break

HBox(children=(IntProgress(value=0, max=350), HTML(value='')))

               W        Date      Time  h   m m_b
0  152432.625000  2017-01-02  07:49:59  7  49  45
1  153944.968750  2017-01-02  07:49:59  7  49  45
2  150333.421875  2017-01-02  07:49:57  7  49  45
3  147969.328125  2017-01-02  07:49:56  7  49  45
4  151894.609375  2017-01-02  07:50:00  7  50  45
5  151896.968750  2017-01-02  07:50:01  7  50  45
6  151906.765625  2017-01-02  07:50:03  7  50  45
7  152041.984375  2017-01-02  07:50:58  7  50  45
8  152064.046875  2017-01-02  07:50:57  7  50  45
9  150581.234375  2017-01-02  07:50:27  7  50  45

In [42]:
df_t.isnull().sum()

W         0
Date      0
Time      0
h         0
m         0
m_b     954
dtype: int64

In [45]:
df_t['m_b'].value_counts()

50    5077
45    4831
5     4778
40    4775
30    4775
35    4774
15    4774
20    4772
25    4771
10    4769
0     4736
55    4057
Name: m_b, dtype: int64

In [120]:
df_t = po.DataFrame(df_t.groupby(['h', 'm_b']).mean()['W']).reset_index()

In [122]:
df_t

      h m_b              W
0     7   0            NaN
1     7   5            NaN
2     7  10            NaN
3     7  15            NaN
4     7  20            NaN
5     7  25            NaN
6     7  30            NaN
7     7  35            NaN
8     7  40            NaN
9     7  45  151052.238839
10    7  50  149756.910039
11    7  55  145512.823906
12    8   0  144227.731061
13    8   5  148310.135937
14    8  10  144378.580712
15    8  15  139729.485054
16    8  20  137842.404493
17    8  25  140672.986223
18    8  30  148966.943281
19    8  35  150972.608641
20    8  40  160211.705598
21    8  45  160960.958281
22    8  50  164226.217911
23    8  55  163129.980749
24    9   0  165081.428490
25    9   5  161591.950495
26    9  10  169246.539454
27    9  15  166056.954013
28    9  20  159855.425676
29    9  25  168476.648333
..   ..  ..            ...
174  21  30   89188.418781
175  21  35   83851.565829
176  21  40   85706.473073
177  21  45   83952.953125
178  21  50   87605.919844
179  21  55   85983.527508
180  22   0   84189.304950
181  22   5   83628.660964
182  22  10   82657.961595
183  22  15   83564.890311
184  22  20   82392.123506
185  22  25   80693.506554
186  22  30   79195.567621
187  22  35   85267.700723
188  22  40   79259.090833
189  22  45   85356.777857
190  22  50   82300.629577
191  22  55   81204.055924
192  23   0   84757.875289
193  23   5   81688.880453
194  23  10   86507.810175
195  23  15   88322.737632
196  23  20   89350.013984
197  23  25   85049.060580
198  23  30   85873.528130
199  23  35   83728.586406
200  23  40   83808.213260
201  23  45   87656.370521
202  23  50   84716.459141
203  23  55   83420.348083

[204 rows x 3 columns]

In [126]:
df_t.merge(df_c, how='outer')

     h  m_b              W
0    7    0            NaN
1    7    5            NaN
2    7   10            NaN
3    7   15            NaN
4    7   20            NaN
5    7   25            NaN
6    7   30            NaN
7    7   35            NaN
8    7   40            NaN
9    7   45  151052.238839
10   7   50  149756.910039
11   7   55  145512.823906
12   8    0  144227.731061
13   8    5  148310.135937
14   8   10  144378.580712
15   8   15  139729.485054
16   8   20  137842.404493
17   8   25  140672.986223
18   8   30  148966.943281
19   8   35  150972.608641
20   8   40  160211.705598
21   8   45  160960.958281
22   8   50  164226.217911
23   8   55  163129.980749
24   9    0  165081.428490
25   9    5  161591.950495
26   9   10  169246.539454
27   9   15  166056.954013
28   9   20  159855.425676
29   9   25  168476.648333
..  ..  ...            ...
258  4   30            NaN
259  4   35            NaN
260  4   40            NaN
261  4   45            NaN
262  4   50            NaN
263  4   55            NaN
264  5    0            NaN
265  5    5            NaN
266  5   10            NaN
267  5   15            NaN
268  5   20            NaN
269  5   25            NaN
270  5   30            NaN
271  5   35            NaN
272  5   40            NaN
273  5   45            NaN
274  5   50            NaN
275  5   55            NaN
276  6    0            NaN
277  6    5            NaN
278  6   10            NaN
279  6   15            NaN
280  6   20            NaN
281  6   25            NaN
282  6   30            NaN
283  6   35            NaN
284  6   40            NaN
285  6   45            NaN
286  6   50            NaN
287  6   55            NaN

[288 rows x 3 columns]

In [54]:
ideal_df = df_t

In [ ]:

    df_t = df_t.drop(['Unnamed: 0', 'm', 'h', 'Date', 'Time'], axis = 1)
    df_t = df_t.sort_values(['h_b', 'm_b']).reset_index(drop = True)
    df_t = df_t.groupby(['h_b', 'm_b']).mean()['W']
    df_t.index = range(len(df_t))
    df_t = po.DataFrame(df_t)
    #df_t.to_csv('data/processed/2018_binned/'+f, index = False)